#contestants {
  width: 150px;
  float: left;
  display: inline;
  margin: 0;
  padding: 0;
  margin-right: 10px; }
  #contestants table {
    border-width: 2px;
    border: solid; }
    #contestants table tr {
      border-width: 1px; }
  #contestants img {
    height: 20px;
    width: 20px; }

#arena {
  border: inset;
  border-width: 3px;
  border-color: #da4;
  background-color: #aaa;
  height: 200;
  width: 600;
  float: left;
  margin: 0;
  padding: 0;
  display: inline; }

#svg {
  height: 200;
  width: 600; }

body {
  background-color: #faf; }
